/* The hero image */
.hero-image {
    /* The image used */
    background-image: url("https://media.angieslist.com/styles/widescreen_large/s3/s3fs-public/ax074_59bb_9.jpg?itok=nb9Fc7De");

    /* Set a specific height */
    height: 650px;
    width: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(189, 195, 199);
}

h1{
  color: #D35400;
}

h2{
  color: orange;
  font-size: 20px;
}

button{
  color: white;
  background: rgb(229, 152, 102);
  border-radius: 5px;
  height: 50px;
  width: 150px;
  border: none;
  font-size: 20px;
}

button:hover{
    background:orange;
}

.carousel{
  width: 50%;
  height: 400px;
  display: block;
  margin: 0 auto;
  border: 1px black groove;
}

.carousel img{
  width: 100%;
  height: 100%;
}

#vote-container{
  margin-top: 25px;
  display: none;
}

.voting{
  margin-top: 10px;
}

.likes {
  text-align: center;
  margin-top: 50px;
  margin: 0 auto;
  width: 50px;
  font-size:50px;
  display: block;
}

.fa-thumbs-up{
  color: #003366;
  text-align: right;
  padding-top: 40px;
}

.score{
  color: blue;
}

body{
  background-color: #ffe0b3
}

h4{
  color: #003366;
  font-size: 20px;
  text-align: inherit;
  display: inline;
}
